[submodule "pki-example-1"]
	path = pki-example-1
	url = https://github.com/mwiora/pki-example-1.git
	ignore = dirty
[submodule "pki-example-2"]
	path = pki-example-2
	url = https://github.com/mwiora/pki-example-2.git
	ignore = dirty
[submodule "pki-example-3"]
	path = pki-example-3
	url = https://github.com/mwiora/pki-example-3.git
	ignore = dirty
